@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #f0f0f0;
    width: 250px;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}

/* This class hides the sidebar */
.sidebarGo {
    transform: translateX(-250px);
    position: absolute;
}

.main {
    width: 100vw;
}

nav ul li {
    list-style: none;
    font-size: 25px;
    padding: 25px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.cross {
    display: none; /* Hidden by default */
}