h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 12px;
}
body{
    border: 20px;
  margin: 0px;
}
.box{
    padding: 5px 9px 5px 9px ;
    border: 1px solid black;
    color: rgb(134, 13, 13);
    /* width: 80px;
    height:40px;
    font-size: 15px;
    margin: 5px; */
    
}
.container{
    padding:8px 0px 8px 0px;
    display: flex;
 justify-content:space-evenly;
align-items:baseline;
border-top: 2px solid black;
border-bottom: 2px solid black;
}
h4{
    font-size: 20px;
    text-align: center;

}
h5{
    text-align:end;
}
.father{
    display: flex;
    border-bottom:2px solid black;
}
.son{
    border-right: 3px solid black;
    width: 70vw;
}
.last{
    text-align: center;
    border-bottom: 2px solid black;
}