h1{
    color: red;
}
.box
    
   
    color: white;
    width: 100px;
    height: 100px;
    font-size: 40px;
    
}
#box1{
    background-color: green;
    text-align: center;
    /* align-self: center; */
    order: 1;
}
#box2{
    background-color: purple;
    text-align: center;
}

#box3{
    background-color: rgb(219, 90, 133);
    text-align: center;
    /* font-size: 25px; */
}

#box4{
    background-color: rgb(128, 113, 0);
    text-align: center;
}

.container{
    display: flex;
/* justify-content:space-evenly; */
align-items:baseline;
height:90vh;
border: 5px solid black;
/* flex-wrap:wrap;
align-content:flex-start;
row-gap: 15px;
column-gap: 15px; */
}
body{
    margin: 0px;
}
