#title {
            color: yellow;
            height: 20px;
            width: 20ox;
        }
        div{
            height: 100px;
            width: 100px;
            background-color: blue;
            color: white;
        }