html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0d1b2a; 
  color: #000000;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  background: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  flex-wrap: wrap; 
}

.logo img {
  width: 60px;
  height: auto;
}

.menu {
  /* display: flex; */
  flex-wrap: wrap;
  margin-top: 5px;
  
}

.menu span {
  margin-left: 20px;
  font-size: 14px;
  cursor:pointer;
  transition: color 0.3s, text-decoration 0.3s;
}

.menu span:hover {
  text-decoration: underline;
  color: rgb(243, 0, 0);
}



.container {
  flex: 1; 
  background: rgb(86, 93, 105);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.top-boxes {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap; 
}

.large-box {
  flex: 1 1 0px;
  height: 200px;
  background: white;
  border-radius: 4px;
}

.small-boxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  
}

.small-box {
  width: 60px;
  height: 60px;
  background:white;
  /* flex: 0 0 auto;  responsive */
}

.footer {
  background: rgb(46, 204, 113);
  text-align: center;
  padding: 12px;
  font-size: 14px;
}


